@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body{
    @apply font-primary bg-background text-white leading-loose overflow-x-hidden;
  }
}

/* styles/globals.css or relevant CSS file */.page-turn-transition {
  position: 1500px; /* Adjust for more or less depth */position: relative;
  width: 100%;
  height: 100vh;
  background-color: bg-background; /* Ensure it covers the full viewport height */overflow: hidden;
}

